[submodule "json"]
	path = json
	url = git@github.com:nlohmann/json.git
[submodule "audria"]
	path = audria
	url = git@github.com:scaidermern/audria.git
[submodule "nng"]
	path = nng
	url = git@github.com:nanomsg/nng.git
